@model CustomerModel

@{
    ViewData["Title"] = "Adicionar Cliente";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{
    <partial name="_CustomerFormPartial" model="Model" />

    <div>
        <button type="submit" class="btn btn-primary">Adicionar Cliente</button>
        <button class="btn btn-warning" asp-controller="Customer" asp-action="Index">Voltar</button>
    </div>
}
