@model CustomerModel

@{
    ViewData["Title"] = "Editar Cliente";
}

<h1>@ViewData["Title"]</h1>

<form method="POST" action="/Customer/Update">
    <input id="Id" type='hidden' asp-for="Id" />

    @await Html.PartialAsync("_CustomerFormPartial", Model)

    <div>
        <button type="button" class="btn btn-primary" onclick="validationHandler(event)">Alterar Cliente</button>
        <button type="button" class="btn btn-secondary" onclick="back()">Voltar</button>
    </div>

</form>


@section Scripts {
    <script src="~/js/customers/scripts.js" asp-append-version="true"></script>
}
